.content {
  color: red;
}
div {
  display: block;
}

body {
  text-align: center;
}

form {
  display: inline-block;
}

#container {
  display: flex;
  width: auto;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.pokedexWrapper {
  display: flex;
  opacity: 0.9;
  justify-content: center;
  color: #5bc0de;
}

.pokemonimg {
  height: 11em;
}

.noPokemon {
  color: red !important;
  font-weight: bold !important;
  font-size: 24px !important;
}

.divTable {
  display: table;
  max-width: 20em;
  float: right;
  display: flex;
  align-items: center;
}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  background-color: rgb(54, 54, 54);
  display: table-header-group;
  font-weight: bold;
}

.divTableCell,
.divTableHead {
  border: 1px solid #000000;
  display: table-cell;
  padding: 3px 10px;
}

.divTableFoot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}

.divTableBody {
  display: table-row-group;
}

.divTableCell:nth-child(1n) {
  background-color: rgba(220, 220, 220, 0.096);
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #343a40;
  color: white;
  margin-top: 25px;
}

.profile-pic {
  width: 330px;
  height: 300px;
  border-radius: 100%;
  color: silver;
  text-align: center;
  margin: 5px 0px 5px 0px;
}

.profile-pic-description {
  color: silver;
  text-align: center;
  margin: 5px 0px 5px 0px;
}

.about-header {
  color: rgba(192, 192, 192, 0.411);
}

.about-subheader {
  text-align: center;
  border-left: 10px solid #5bc0de;
}

.about-content {
  color: white;
  margin-top: 40px;
  padding: 10px;
}

.contact-header {
  color: white;
  text-align: center;
  width: auto;
}

.contact-subheader {
  color: silver;
}

.skills-header {
  color: silver;
}

#skills h4 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75 rem;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.col {
  color: silver;
  padding-bottom: 20px;
}

.row .col .m2 {
  width: 16.66667%;
  margin-left: 0;
}

.row .col .s4 {
  width: 33.33333%;
  margin-left: 0;
}

.row.col {
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
}

.card .card-content {
  padding-bottom: 30px;
  padding: 20px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}

.card {
  margin-bottom: 60px;
}

.card {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  box-sizing: border-box;
  background-clip: padding-box;
}

.text-center {
  text-align: center;
}

.blue-text {
  color: #5bc0de;
}

.skills-img {
  margin: 0 auto;
  max-height: 100px;
  padding-bottom: 10px;
  vertical-align: middle;
  display: table-cell;
}
